<!-- prettier-ignore -->
{% extends "base.html" %} 
{%block title %}User details{% endblock %}
<!-- prettier-ignore -->
{%block content %}
<div class="container">
  <h1>{{post.title}}</h1>
  <p>{{post.content}}</p>
  <button
    class="btn btn-outline-danger"
    onclick="location.href='/users/{{ post.user_id }}/'"
  >
    Cancel
  </button>
  <button
    class="btn btn-primary"
    onclick="location.href='/posts/{{ post.id }}/edit'"
  >
    Edit
  </button>
  <button
    class="btn btn-danger"
    onclick="location.href='/posts/{{ post.id }}/delete'"
  >
    Delete
  </button>
</div>

<!-- prettier-ignore -->
{% endblock %}
