<!-- prettier-ignore -->
{% extends "base.html" %} 
{%block title %}User details{% endblock %}
<!-- prettier-ignore -->
{%block content %}
<div class="float-container">
  <img src="{{user.user_image}}" alt="users image" />
  <div class="float-child">
    <h1 class="display-5">{{user.first_name}} {{user.last_name}}</h1>
    <button
      onclick="location.href='/users/{{user.id}}/edit'"
      class="btn btn-outline-primary"
    >
      Edit User
    </button>
    <button
      onclick="location.href='/users/{{user.id}}/delete/'"
      class="btn btn-outline-danger"
    >
      Delete User
    </button>

    <button onclick="location.href='/users'" class="btn btn-outline-success">
      Return to All users
    </button>
    <button
      onclick="location.href='/users/{{user.id}}/posts/new'"
      class="btn btn-outline-primary"
    >
      Add a post
    </button>
    <h1 class="mt-4">Posts</h1>

    <ul>
      {% for post in user.posts %}
      <li>
        <a href="/posts/{{ post.id}}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- prettier-ignore -->
{% endblock %}
